/*rosso: #ad1d1f;
oro: #ae8f51*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300
}


header {
    width: 100%;
    background-color: #f9f9f9;
    padding: 1em;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}


ul {
    list-style-type: none;
}

article > ul {
    list-style-type:disc;
    padding-left: 1em;
}

a {
    color: #5c5c5c;
    font-weight: 300;
}

main a:hover {
    font-weight: 400;
}

header a {
    text-decoration:none;
    padding : 0.3em;
    font-weight: 400;
}

header a:hover {
    background-color: #5c5c5c;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

a:active {
    border: 2px #101010 solid;
    border-radius: 3px;
}

header a:visited:hover, header a:hover {
    color: #f9f9f9;
}

a:visited, nav a:visited {
    color:#ae8f51
}

nav {
    padding: 1em;
    text-align: center;
}

#content > article > ul {
    list-style: disc;
    margin-left: 3em;
}

#content > article > ol {
    margin-left: 3em;
}

nav > ul li{
    display: inline;
    padding: 0.3em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
}

form > ul li {
    display: block;
}
form label {
    display: block;
}

header img {
    width: 8em;
}

main {
    height: 100%;
	margin: 4em 0em 1em 0em;
    padding: 0em 0 1em 0;
}

main h1, .last-action{
    font-size: 2.3em;
    font-weight: 400;
    padding: 0.5em 0 0.5em 0;
}

main h2 {
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

main h3 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

dt {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 0.5em 1em;
}

dd {
    font-size: 1em;
    padding: 0 0 0.5em 2em;
}

section, article {
    margin: 0;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    width: 30%;
    margin: 0 auto auto auto;
}

.column-content-aside {
    width: 70%;
    margin: 0 ;
}

.btn-container {
    position: inherit;
    bottom: 10px;
    margin-top: 2em;
    text-align: center;
}
iframe {
    position: relative;
    width: 100%;
    height: 20em;
    border: none;
    resize: both;
    overflow: auto;
}

.iframe-wrapper {
    width: 100%;
}
.rectangle-image-cropper {
    width: 100%;
    height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.rectangle-image-cropper-large {
    width: 100%;
    max-height: 20em;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.rectangle-image-cropper img, .rectangle-image-cropper-large img {
    display: inline;
    margin: auto auto;
    height: auto;
    width: 100%;
}

.circle-image-cropper {
    width: 12em;
    height: 12em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0em auto 4em auto;
}
.circle-image-cropper img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.square-image-cropper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.square-image-cropper img{
    display: inline;
    margin: auto;
    height: 100%;
    width: auto;
}

.centered {
    margin: auto;
    text-align: center;
}

main section p{
    padding: 0.5em 2em 0em 2em;
}

button:hover, #invia > input[type=submit]:hover, #content > div > div > div > a .button:hover {
    font-weight: normal;
    background-color: #e9e9e9;
}

input[type=text], input[type=email], input[type=password], textarea {
    height:3em;
    width: 100%;
    padding: 0.5em;
    margin: auto;
    border: none;
    background-color: #5c5c5c;
    color:#f9f9f9;
    resize: none;
    font-size: 1em;
}

#contatti-form-contatti input[type=text], #contatti-form-contatti input[type=email], #contatti-form-contatti input[type=password], #contatti-form-contatti textarea {
    height:3em;
    width: 100%;
    padding: 0.5em;
    margin: auto;
    border: none;
    background-color: #f9f9f9;
    color:#000000;
    resize: none;
}

textarea {
    vertical-align: middle;
}

#contatti-form-contatti textarea {
    height: 5em;
}


#contatti-form-contatti ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #101010;
  opacity: 1; /* Firefox */
}

#contatti-form-contatti::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #101010;
}

#contatti-form-contatti::-ms-input-placeholder { /* Microsoft Edge */
  color: #101010;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f9f9f9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #f9f9f9;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #f9f9f9;
}

.error {
	color: red;
}


input[type=button].add {
	background-color: #6D9fa0;
}

input[type=button].remove {
	background-color: #d01110;
}

.button:focus {
	border: 3px solid #BA934D;
}

input[type=submit], input[type=button], .button, #content > div > div > div > a {
    color: #986500;
    background-color: #f9f9f9;
    min-width: 56px;
    width: 20%;
    padding: 0.5em;
    margin: auto;
    border-radius: 2px;

    text-transform: uppercase;
    text-decoration: none;
    border-style: none;
    font-weight: 500;
    border: 1px #000 solid;
}

.message {
    grid-column: span 3;
}

#stime .button:visited {
    color: #986500;
    background-color: #f9f9f9;

}

input:focus {
    border: none;
}

footer > section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #5c5c5c;
    color: #f9f9f9;
    font-size: 1.08em;
    padding: 2em;
    text-align: center;
}

#head {
    display: grid;
    grid-template-columns: 280px 3fr;
    margin: auto 0 auto 0;
}

#head > .logo {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
    margin: auto 0;
    height: 100%;
}

#head > .nav {
    grid-column-start: 2;
    grid-column-end: 2;
}

footer > small {
    grid-column-start: 2;
}

footer a {
    font-size: 1em;
    text-decoration: underline;
    color: #f9f9f9;
}

footer a:hover {
    font-weight: bold;
    color: #ffffff;
}

footer a:visited  {
    color: #cfcfcf;
}

footer h2 {
    padding-bottom: 1.5em;
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
}

div .flex-container, .gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#current-page{
    border: 1px solid #CACACA;
    border-radius: 3px;
    -webkit-box-shadow: 13px 10px 35px 22px rgba(0,0,0,1);
    box-shadow: 7px 10px 25px -12px rgba(0,0,0,0.3);
}

.gallery li {
    width: 15em;
    height: 15em;
    padding: 0.5em;
}

.gallery li img{
    height: 100%;
    padding: 1em;
    border-radius: 3px;
}

.gallery li::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 5px 60em rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 60em rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2000px rgba(0,0,0,0.75);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.gallery li:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
  z-index: 10;
}

.gallery li:hover::after {
    opacity: 1;
}

.text-right {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}

.grid-content {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
    padding-bottom: 10em;
    max-width: 95%;
    margin-left: 1em 2em 1em 2em;
}

.text-left {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

fieldset {
    border: none;
}
label, legend {
    font-weight: bold;
}
#floating-btn {
	display: none;
}

@media (prefers-reduced-motion) {
    .gallery li::after {
        -webkit-transition: 0s;
        transition:0s;
    }

    header a:hover {
        transition: 0s;
    }
    html {
        scroll-behavior: auto;
    }
}

.logo {
    text-indent: -99999px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.caption {
    min-height: 25em;
    padding: 6em 1em;
    vertical-align:middle;
    margin-left: 55%;
    color: #f9f9f9;
    background-color: rgba(48,48,48, 0.9);
}


.index-widescreen {
    min-height: 25em;
    background-image: url(../images/mappa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}


}

.laboratorio {
    margin: 2em 0 2em 0;
    text-indent: -99999px;
    width: 100%;
    height: 10em;
    background-image: url(../images/lab-low-res.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-form {
    max-width: 20%;
}

.insert-form {
    max-width: 60%;
}

.markdown-code, blockquote {
    margin: 1em auto 0 auto;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #858585;
    border-radius: 5px;
    background-color: #eeeeee;
    text-align: left;
    width: auto;
}

.load-more {
    margin: 1.5em 0em 0.5em 0em;
    text-align: center;
}

.flex-article {
    position: relative;
    flex-wrap: wrap;
    width: 40%;
    min-height: 14em;
    padding: 1em;
    margin: 1em auto 1em auto;
}

.flex-article p {
    overflow: hidden;
    padding: 0.5em;
}

.flex-article .btn-container{
    position: absolute;
    bottom: 2em;
    left: 40%;
    padding-top: 2em;
    text-align: center;
}

.help{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.btn-container.three-btn {
    left: 20px;
}

.no-show {
    display: none;
}

#content > div > section.print-remove > div > p {
    padding: 0;
}

.page-not-found {
    margin: 2em 0 2em 0;
    text-indent: -99999px;
    width: 100%;
    height: 350px;
    background-image: url(../images/404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.internal-error {
    margin: 2em 0 2em 0;
    text-indent: -99999px;
    width: 100%;
    height: 350px;
    background-image: url(../images/500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.copyright {
    color: #f9f9f9;
    background-color: #474747;
    padding: 2em 1em 2em 1em;
}

#hcard-Pietro-Zotti {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    padding: 2em;
}

.title {
    padding: 2em 4em;
    background-color: #6c6c6c;
    color: #f9f9f9;
}


#about h2, #stime h2, #contatti h2 {
    max-width: 70%;
    font-weight: 400;
}

#article-content {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr;
}

article{
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
    padding: 2em 6em;
}

.about-image {
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.field-wrapper {
    border-bottom: 1px solid #7a7a7a;
    margin: auto 1em auto 1em;
    text-align: left;
    padding: auto;
}

.form-contatti {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
}

label {
    height: 0px;
    width: 0px;
    text-indent: -99999px;
}

fieldset {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#list {
    display: block;
}

#nome {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#email {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#message {
    grid-column: 1 /span 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#invia {
    grid-column: 1 /span 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#head a.logo:hover {
    background-color: #d4d4d4;
}


.contact-container {
    display: flex;
    flex-grow: 4;
    margin:2em 6em;
    justify-content: space-evenly;
}

.contact-information {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 13em;
    max-width: 25%;
    padding: auto;
    text-align: center;
}


.contact-content >div> div > h3  {
    font-weight:500;
    color:#6c6c6c;
    padding: 0;
}

#contatti > div.contact-content > div > div > p {
    padding: 0;
}

#contatti > div.contact-content > div > div > ul {
    font-size: 1em;
    padding: 0.3em;
}

.section-content, #contatti-form-contatti {
    margin: 2em 1em 2em 1em;
}

.section-content, #contatti-form-contatti {
    max-width: 80%;
    margin: 2em auto 1em auto
}

ul.spaced > li{
    margin: 1em;
}

.faq {
    text-align: left;
}

.faq dd{
    border-left: 4px solid #DDDDDD;
    margin-left: 2em;
}

.strong > li, span.strong {
    font-weight: bolder;
}

p, article {
    font-size: 1.08em;
}

.contact-form-content {
    width: 40%;
    min-height: 14em;
    padding: 1em;
    margin: 2em auto 1em auto;
}
